<script>
var f = function(){
    var  r = window.prompt("Are You Sure")
    if(r == true){
        save_marks()
    }
}
</script>
<form name="amark" action="">
<table name="mark_table" onblur="save-Marks">
<tr>
    <th>Number</th><th>Mark</th>
</tr>
<tr>
    <td>1</td>
    <td><imput type="text" name ="mark1" onclick="" aria-placeholder="Enter Mark For Q.1"></imput></td>
</tr>
<tr>
  <td>2</td><td>
      <imput type="text" name ="mark2" onclick="" aria-placeholder="Enter Mark For Q.2"></imput></td>
 </tr>
  <tr>
      <td>3</td>
      <td><imput type= "text" name ="mark3" onclick="" aria-placeholder="Enter Mark For Q.3"></imput></td>
  </tr>
 <tr>
     <td>4</td>
     <td><imput type= "text" name ="mark4" onclick="" aria-placeholder="Enter Mark For Q.4"></imput></td>
 </tr>
  <tr>
     <td>5</td>
     <td><imput type= "text" name ="mark5" onclick="" aria-placeholder="Enter Mark For Q.5"></imput></td>
 </tr>
<tr>
    <td>6</td>
    <td><imput type= "text" name ="mark6" onclick="" aria-placeholder="Enter Mark For Q.6"></imput></td>
 </tr>
 <tr>
     <td>7</td>
     <td><imput type= "text" name ="mark7" onclick="" aria-placeholder="Enter Mark For Q.7"></imput></td>
 </tr>
 <tr>
    <td>8</td>
    <td><imput type= "text" name ="mark8" onclick="" aria-placeholder="Enter Mark For Q.8"></imput></td>
  </tr>
    <tr>
     <td>9</td>
     <td><imput type= "text" name ="mark9" onclick="" aria-placeholder="Enter Mark For Q.9"></imput></td>
 </tr>
<tr>
 <td>10</td>
 <td><imput type= "text" name ="mark10" onclick="" aria-placeholder="Enter Mark For Q.10"></imput></td>
  </tr>
  <tr>
        <td>Submit/Save</td>
        <td></td><imput type= "submit" value="Upload MArks" onclick="" ></imput></td>
    </tr>
</table>
</form>