<div>
    <h3> Teacher Login Page </h3>
</div>

<form ng-submit="main.doLogin(loginData)">
    <!--Username-->
    <label> Username </label>
    <input class="form-control" type="text" name="username" placeholder="Please enter your username" ng-model="main.loginData.username">
    <br>
    <!--Password-->
    <label> Password </label>
    <input class="form-control" type="password" name="Password" placeholder="Please enter a strong password" ng-model="main.loginData.password">
    <br>
    <button class="btn btn-primary" type="submit">Login</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/register">Register</a>
</form>

<br>

<div class="row show-hide-message" ng-show="main.successMsg">
    <div class="alert alert-success"> {{main.successMsg}} </div>
</div>

<br>

<div class="row show-hide-message" ng-show="main.errorMsg"> 
    <div class="alert alert-danger"> {{main.errorMsg}} </div>
</div>